@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?dykpfg');
  src:  url('../assets/fonts/icomoon.eot?dykpfg#iefix') format('embedded-opentype'),
  url('../assets/fonts/icomoon.ttf?dykpfg') format('truetype'),
  url('../assets/fonts/icomoon.woff?dykpfg') format('woff'),
  url('../assets/fonts/icomoon.svg?dykpfg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\e900";
}
.icon-next:before {
  content: "\e901";
}
