* {
  font-family: Manrope, Open Sans, Arial, serif;
}

// GRID
@media #{map-get($display-breakpoints, 'lg-and-down')} {
  .container {
    max-width: 1140px;
    &.eg-container__full-width {
      max-width: 1440px;
    }
  }
}

@media #{map-get($display-breakpoints, 'md-and-down')} {
  .container {
    max-width: 944px;
    &.eg-container__full-width {
      max-width: 100%;
    }
  }
}

@media #{map-get($display-breakpoints, 'sm-and-down')} {
  .container {
    max-width: calc(100% - 40px);
    &.eg-container__full-width {
      max-width: 100%;
    }
  }
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5,
.col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9,
.col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto,
.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3,
.col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7,
.col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto,
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1, .container {
  padding: 0;
}

.row {
  margin: 0;
}

.eg-row {
  margin-right: -10px;
  margin-left: -10px;
}

.eg-col-padding-y {
  padding-left: 10px;
  padding-right: 10px;
}

.eg-col-padding {
  padding: 10px;
}

// TEXTS
h1, h2, h3 {
  font-family: "Baloo Tamma 2", serif;
  font-weight: 600;
  color: $black;
}

h1 {
  font-size: 38px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-size: 25px;
  line-height: 28px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: $black;
}

.text-12-px {
  font-size: 12px !important;
}

// ANCHORS
.v-application a {
  font-weight: 700;
  line-height: 26px;
  height: 26px;
  border-bottom: 1px solid var(--v-primary-base);
  text-decoration: none;

  &.text-decoration-none {
    border-bottom: unset;
  }
}

.v-application a:visited, .v-application a:hover, .v-application a:active {
  color: var(--v-primary-lighten1);
  border-color: var(--v-primary-lighten1);
}

// DIALOG
.v-dialog > .v-card > .v-card__actions {
  padding: 8px 16px 12px;
}