/**
  Common css for app inputs
*/
.v-form {
  width: 100%;
}

.v-input {
  max-width: unset !important;

  .v-text-field__details {
    padding-left: 0 !important;
    .v-messages__wrapper {
      padding: 0;
    }
  }

  .v-messages__wrapper {
    padding: 0 10px 10px;

    .v-messages__message {
      font-size: 16px;
      line-height: 25px;
      font-weight: bold;
      font-family: Manrope, Open Sans, Arial, serif;
    }
  }
}

.eg-input {

  .v-text-field, .v-text-field--outlined, .v-text-field--solo {

    fieldset {
      transition: border-color 0.3s;
      border-color: var(--v-grey-darken1);
    }

    .v-input__slot {
      padding-left: 15px !important;
    }

    &.v-input--is-focused {
      fieldset {
        border-color: var(--v-primary-base);
      }
    }
  }
}
