<template>
  <v-form
      :ref="formRefName"
      v-model="valid"
      lazy-validation
  >
    <radio-line-block
        title="Je connais la puissance de l'équipement que je souhaite installer"
        :radio="equipmentRadio"
        :value="power"
        @input="updateData({power: $event})"
        @click="validateFormAndRedirect(nextRouteName)"
    />
  </v-form>
</template>

<script>
import RadioLineBlock from "@/views/partial/_radioLineBlock";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";

export default {
  name: "equipment",
  mixins: [validationMixin],
  components: {
    RadioLineBlock
  },
  data() {
    return {
      value: null,
      equipmentRadio: [
        {
          value: false,
          text: "Non. Pas de panique nous allons le calculer ensemble :)"
        },
        {
          value: true,
          text: "Oui. Je connais déjà la puissance de mon équipement à installer"
        }
      ],
    }
  },
  computed: {
    ...mapGetters({
      power: "getPower"
    }),
    nextRouteName() {
      return this.power ? "EquipmentHelp" : "Height"
    }
  }
}
</script>

<style scoped>

</style>