<template>
  <v-form
      :ref="formRefName"
      v-model="valid"
      lazy-validation
  >
    <radio-line-block
        title="Je souhaite installer :"
        :radio="radio"
        :value="power"
        @input="updateData({power: $event})"
        @click="validateFormAndRedirect(nextRouteName)"
    />
  </v-form>
</template>

<script>
import RadioLineBlock from "@/views/partial/_radioLineBlock";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";

export default {
  name: "equipment-help",
  mixins: [validationMixin],
  components: {
    RadioLineBlock
  },
  data() {
    return {
      radio: [
        {
          value: 9,
          text: "<b>2.9 kWc</b> - 9 panneaux de 330Kwv"
        },
        {
          value: 18,
          text: "<b>5.94 kWc</b> - 18 panneaux de 330Kwv"
        },
        {
          value: 27,
          text: "<b>8.91 kWc</b> - 27 panneaux de 330Kwv"
        },
        {
          value: 0,
          text: "<b>Autre</b>. J'indique le nombre de panneaux :",
          component: {
            name: 'eg-text-input',
            params: {
              suffix: "x  330 = <b>3.30 kWc</b>",
              hideFieldDetails: true,
              reducedInputField: true
            }
          }
        }
      ],
    }
  },
  computed: {
    ...mapGetters({
      power: "getPower"
    }),
    nextRouteName() {
      return this.power > 27 ? "EquipmentHint" : "Height"
    }
  }
}
</script>

<style scoped>

</style>