<template>
  <hint-block
      :h1="'Je souhaite installer' + '<br>' + 'plus de 27 panneaux'"
      h3="Le montant de rachat du surplus d’électricité dépend de la puissance de votre installation solaire,
      il est compris entre 0,10 € et 0,06 € par kWh."
      p1="C’est pourquoi nous vous conseillons une puissance d’installation maximale de 9kWc, soit 27 panneaux.
      Au-delà, les tarifs de vente du surplus sont moins élevés, et votre installation  moins rentable."
      p2="Si vous souhaitez avoir une simulation dans le cadre d’une installation de plus de 27 panneaux,
      contactez-nous par téléphone."
  >
    <eg-btn
        class="mr-sm-4 mb-4 mb-sm-0"
        text="Je modifie mon choix"
        @click="next('EquipmentHelp')"
        icon-class="icon-next"
    />
  </hint-block>
</template>

<script>
import HintBlock from "@/views/partial/_hintBlock"
import EgBtn from "@/components/base/EgBtn";

export default {
  name: "production-hint",
  components: {
    HintBlock,
    EgBtn
  },
  data() {
    return {}
  }
}
</script>

<style scoped>

</style>