<template>
  <v-form
      :ref="formRefName"
      v-model="valid"
      lazy-validation
  >
    <radio-line-block
        title="Vous avez le choix entre deux modes de production"
        :radio="radio"
        :value="production"
        @input="updateData({production: $event})"
        @click="validateFormAndRedirect(nextRouteName)"
    />
  </v-form>
</template>

<script>
import RadioLineBlock from "@/views/partial/_radioLineBlock";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";

export default {
  name: "production-help",
  mixins: [validationMixin],
  components: {
    RadioLineBlock
  },
  data() {
    return {
      radio: [
        {
          value: "auto",
          text: "<b>Autoconsommation avec vente du surplus</b><br>La solution la plus courante : je consomme l'électricité que je produis.<br>Ce qui n'est pas consommé est acheté par EDF."
        },
        {
          value: "selling",
          text: "<b>Vente en totalité</b><br>Aucune injection d’énergie n’est réalisée dans mon habitation. EDF rachète l’intégralité de ma production."
        }
      ],
    }
  },
  computed: {
    ...mapGetters({
      production: "getProduction"
    }),
    nextRouteName() {
      return this.production === "auto" ? "Equipment" : "ProductionHint"
    }
  }
}
</script>

<style scoped>

</style>