<template>
  <hint-block
      h1="Vente en totalité"
      h3="En choisissant la vente en totalité vous ne bénéficiez pas de la prime à l’investissement versée par l’état.
        Les coûts de raccordement et d’utilisation du réseau publics sont également plus élevés."
      p1="C’est pourquoi nous vous conseillons d’opter pour une production en autoconsommation avec vente du surplus,
        plus rentable."
      p2="Si vous souhaitez avoir une simulation dans le cadre d’une installation avec vente en totalité,
        contactez-nous par téléphone."
  >

    <eg-btn
        class="mr-sm-4 mb-4 mb-sm-0"
        text="Je choisi l'autoconsommation"
        @click="click"
        icon-class="icon-next"
    />

  </hint-block>
</template>

<script>
import HintBlock from "@/views/partial/_hintBlock"
import EgBtn from "@/components/base/EgBtn";
import {mapGetters} from "vuex";

export default {
  name: "production-hint",
  components: {
    HintBlock,
    EgBtn
  },
  data() {
    return {}
  },
  methods: {
    click() {
      this.updateData({production: 'selling'})
      this.next('Equipment')
    }
  },
  computed: {
    ...mapGetters({
      production: "getProduction"
    })
  }
}
</script>

<style scoped>

</style>