<template>
  <v-form
      :ref="formRefName"
      v-model="valid"
      lazy-validation
  >
    <radio-col-block
        title="Je souhaite utiliser la production de mes futurs panneaux en :"
        :radio="productionRadio"
        :value="production"
        @input="updateData({production: $event})"
        @click="validateFormAndRedirect(nextRouteName)"
    />
  </v-form>
</template>

<script>
import RadioColBlock from "@/views/partial/_radioColBlock";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";

export default {
  name: "production",
  mixins: [validationMixin],
  components: {
    RadioColBlock
  },
  data() {
    return {
      productionRadio: [
        {
          value: "auto",
          imgPath: "images/project/production/solaire_autoconsommation.svg",
          text: "<b>Autoconsommation<br>avec vente en surplus</b>"
        },
        {
          value: false,
          imgPath: "images/project/production/maison_autoconsommation-aide.svg",
          text: "<b>Je ne sais pas</b>"
        }
      ],
    }
  },
  computed: {
    ...mapGetters({
      production: "getProduction"
    }),
    nextRouteName() {
      return this.production === "auto" ? "Equipment" : "ProductionHelp"
    }
  }
}
</script>

<style scoped>

</style>