$black: #2C2F2F;

/**
  This file overrides the vuetify variables
*/

// GRID
$grid-breakpoints: (
        //'xs': 375px,
        //'sm': 540px,
        'md': 1024px,
        'lg': 1440px
);

// V-BTN
$btn-outline-border-width: 2px;
$btn-hover-opacity: 1;

// V-PROGRESS-CIRCULAR
$progress-circular-underlay-stroke: currentColor;