<template>
  <div class="eg-footer">
    <v-footer
        v-if="!isLastPage"
        color="background"
        padless
    >
      <v-container>
        <div class="row
        flex-column flex-md-row
        align-center justify-center
        pt-md-4 pb-md-5"
        >
          <div
              v-if="!isFirstPage"
              class="d-flex
              col-12 col-md-3 col-lg-5
              justify-center justify-md-start align-center
              mt-5 mt-md-0"
          >
            <img
                src="@/assets/images/logo-EnergyGo.svg"
                alt="logo EnergyGo"
            >
          </div>

          <div v-else
               class="d-flex
               col-12 col-md-8 col-lg-8
               justify-md-start align-md-center
               mt-6 mt-md-0 mb-5 mb-md-0"
          >
            <div
                class="d-flex
                  flex-column flex-sm-row
                  justify-sm-center justify-md-start align-center
                  text-center text-sm-left
                  mr-md-0
                  col-md-6"
            >
              <img
                  class="mb-4 mb-md-0 mr-sm-2"
                  width="70"
                  src="@/assets/images/footer/solution_solaire-nombre-panneaux.svg"
                  alt="Nombre de panneaux solaire"
              >
              <p class="ma-md-0">
                Calculez le<br class="d-lg-none"> <b>nombre&nbsp;optimal</b><br>de&nbsp;panneaux solaires
              </p>
            </div>
            <div
                class="d-flex
                  flex-column flex-sm-row
                  justify-sm-center justify-md-start align-center
                  text-center text-sm-left
                  col-md-6"
            >
              <img
                  class="mb-4 mb-md-0 mr-sm-2"
                  width="70"
                  src="@/assets/images/footer/solution_solaire-rentabilite-economique.svg"
                  alt="Rentabilité économique"
              >
              <p class="ma-md-0">
                Estimez la<br class="d-lg-none"> <b>rentabilité<br class="d-md-none">&nbsp;économique</b><br>de&nbsp;votre
                projet
              </p>
            </div>
          </div>

          <div
              v-if="isFirstPage"
              class="d-flex
              flex-column
              col-12 col-md-4 col-lg-4
              align-center mb-10 mb-md-0"
          >

            <p class="mb-0 pb-1">Posez toutes vos questions à nos experts :</p>

            <div class="col-12 d-flex justify-center">
              <eg-phone-call-btn
                  class="mr-4"
              />
              <eg-callback-btn/>
            </div>
            <p class="text-12-px mb-0">Du lundi au vendredi de 9h à 19h - Prix d’un appel local</p>
          </div>

          <div
              v-else
              class="d-flex
              flex-column flex-md-row
              col-12 col-md-9 col-lg-7
              justify-center align-center"
          >
            <div class="mt-4 mt-md-0">
              <p class="mb-2 mb-md-0">Posez toutes vos questions à nos experts :</p>
              <p class="text-12-px d-none d-md-block mb-0">Du lundi au vendredi de 9h à 19h - Prix d’un appel local</p>
            </div>

            <div class="d-flex justify-center ml-md-3">
              <eg-phone-call-btn
                  class="mr-4"
              />
              <eg-callback-btn/>
            </div>

            <div
                class="d-flex
                col-12
                justify-center
                d-md-none mb-8"
            >
              <p class="text-12-px mb-0">Du lundi au vendredi de 9h à 19h - Prix d’un appel local</p>
            </div>
          </div>

        </div>

      </v-container>

    </v-footer>

    <v-footer
        v-if="isFirstPage || isLastPage"
        color="primary"
        padless
    >
      <v-container>
        <div
            class="row pt-2 pb-4 pt-sm-1 pb-sm-1"
        >
          <div class="col-12 d-flex justify-space-between align-center">
            <a
                class="eg-footer-link"
                href="https://www.energy-go.fr"
                target="_blank"
            >
              www.energy-go.fr
            </a>
            <div>
              <a
                  class="eg-footer-link"
                  target="_blank"
                  href="https://www.energy-go.fr/mentions-legales/"
              >
                Mentions légales
              </a>
              <a
                  v-if="$vuetify.breakpoint.mdAndUp"
                  class="eg-footer-link ml-10"
                  target="_blank"
                  href="https://www.energy-go.fr/politique-de-confidentialite/"
              >
                Politique de confidentialité
              </a>
            </div>
          </div>
        </div>
      </v-container>
    </v-footer>
  </div>
</template>

<script>
import EgCallbackBtn from "@/components/special/EgCallBackBtn";
import EgPhoneCallBtn from "@/components/special/EgPhoneCallBtn";

export default {
  name: "eg-footer",
  components: {
    EgCallbackBtn,
    EgPhoneCallBtn
  },
  props: {
    isFirstPage: {
      type: Boolean,
      default: false
    },
    isLastPage: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.eg-footer {

  .v-footer {
    //padding-top: 18px;
    //padding-bottom: 18px;
  }

  .eg-footer-bottom-bar {
    width: 100%;
  }

  .eg-footer-link {
    color: white !important;
    border: unset;
    font-weight: 700;
  }
}
</style>