<template>

  <v-container>
    <div
        class="eg-header row justify-space-between pt-9 pb-md-7 align-center"
    >
      <div
          v-if="!hideBackButton"
          class="col-3"
      >
        <eg-btn
            outlined
            :text="this.$vuetify.breakpoint.smAndUp ? 'Retour' : null"
            :dense="!this.$vuetify.breakpoint.smAndUp"
            icon-class="icon-prev"
            icon-position="start"
            :outlined-color="$vuetify.theme.themes.light.grey.base"
            :disable-click-state="true"
            @click="$router.go(-1)"
        />
      </div>

      <div :class="{'col-9': true, 'd-flex': true, 'justify-end': !hideBackButton}">
        <eg-stepper
            v-if="step > 0"
            :step-name="stepName"
            :step="step"
            :step-value="stepValue"
        />
        <img
            v-else
            :src="require('@/assets/images/logo-EnergyGo.svg')"
            alt="Logo EnergyGo"
        />
      </div>

      <div class="d-md-none col-12 mt-8 mb-2">
        <span>{{stepName}}</span>
      </div>
    </div>
  </v-container>

</template>

<script>
import EgBtn from "@/components/base/EgBtn";
import EgStepper from "@/components/EgStepper";

export default {
  name: "eg-header",
  components: {
    EgBtn,
    EgStepper
  },
  props: {
    hideBackButton: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      step: 0,
      stepValue: 0,
      stepName: ""
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler() {
        const currentRoute = this.$route;
        const routes = this.$router.options.routes;
        for (let i = 0; i < routes.length; i++) {
          let route = routes[i];
          if (!route.step || !route.children) {
            continue;
          }
          let totalChildren = route.children.length;
          for (let j = 0; j < totalChildren; j++) {
            let child = route.children[j];
            if (child.name === currentRoute.name) {
              this.step = route.step;
              this.stepValue = (((j + 1) / totalChildren) * 100);
              this.stepName = route.name;
              return;
            }

            if (!child.children) {
              continue;
            }

            let totalSubChildren = child.children.length;
            for (let k = 0; k < totalSubChildren; k++) {
              let subChild = child.children[k];
              if (subChild.name === currentRoute.name) {
                this.step = route.step;
                this.stepValue = (((j + 1) / totalChildren) * 100);
                this.stepName = route.name;
                return;
              }
            }
          }
        }
        this.step = 0;
      }
    }
  }
}
</script>

<style lang="scss">

</style>