<template>
  <v-form
      :ref="formRefName"
      v-model="valid"
      lazy-validation
  >
    <radio-col-block
        title="La couverture de mon toit est en"
        :radio="radio"
        :value="buildingCover"
        radio-img-class="pa-3"
        @input="updateData({buildingCover: $event})"
        @click="validateFormAndRedirect('BuildingPanel')"
    />
  </v-form>
</template>

<script>
import RadioColBlock from "@/views/partial/_radioColBlock";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";

export default {
  name: "cover",
  mixins: [validationMixin],
  components: {
    RadioColBlock
  },
  data() {
    return {
      radio: [
        {
          value: "tuile",
          imgPath: "images/house/cover/cover-tuile.svg",
          text: "<b>Tuile</b>"
        },
        {
          value: "ardoise",
          imgPath: "images/house/cover/cover-ardoise.svg",
          text: "<b>Ardoise</b>"
        },
        {
          value: "acier",
          imgPath: "images/house/cover/cover-acier.svg",
          text: "<b>Acier</b>"
        },
        {
          value: "other",
          imgPath: "images/house/cover/cover-autre.svg",
          text: "<b>Autre</b>"
        }
      ],
    }
  },
  computed: {
    ...mapGetters({
      buildingCover: "getBuildingCover"
    })
  }
}
</script>

<style scoped>

</style>