<template>
  <v-form
      :ref="formRefName"
      v-model="valid"
      lazy-validation
  >
    <radio-col-block
        title="J’estime la hauteur de ma maison à équiper"
        :radio="productionRadio"
        :value="buildingHeight"
        @input="updateData({buildingHeight: $event})"
        @click="validateFormAndRedirect('Tilt')"
    />
  </v-form>
</template>

<script>
import RadioColBlock from "@/views/partial/_radioColBlock";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";

export default {
  name: "height",
  mixins: [validationMixin],
  components: {
    RadioColBlock,
  },
  data() {
    return {
      productionRadio: [
        {
          value: 1,
          imgPath: "images/house/height/maison_plein-pied.svg",
          text: "<b>Maison de<br>plain pied</b>"
        },
        {
          value: 2,
          imgPath: "images/house/height/maison_1-etage.svg",
          text: "<b>1 étage</b>"
        },
        {
          value: 3,
          imgPath: "images/house/height/maison_2-etage.svg",
          text: "<b>2 étages</b>"
        },
        {
          value: 4,
          imgPath: "images/house/height/maison_3-etage.svg",
          text: "<b>3 étages</b>"
        }
      ],
    }
  },
  computed: {
    ...mapGetters({
      buildingHeight: "getBuildingHeight"
    })
  }
}
</script>

<style scoped>

</style>