<template>
  <v-form
      :ref="formRefName"
      v-model="valid"
      lazy-validation
  >
    <radio-col-block
        title="Je souhaite équiper"
        :radio="radio"
        :value="buildingPanel"
        @input="updateData({buildingPanel: $event})"
        @click="validateFormAndRedirect('Street')"
    />
  </v-form>
</template>

<script>
import RadioColBlock from "@/views/partial/_radioColBlock";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";

export default {
  name: "panel",
  mixins: [validationMixin],
  components: {
    RadioColBlock
  },
  data() {
    return {
      radio: [
        {
          value: 1,
          imgPath: "images/house/building/maison-1_pan.svg",
          text: "<b>1 pan<br>de toiture</b>"
        },
        {
          value: 2,
          imgPath: "images/house/building/maison-2_pan.svg",
          text: "<b>2 pans<br>de toiture</b>"
        },
        {
          value: 3,
          imgPath: "images/house/building/maison-3_pan.svg",
          text: "<b>3 pans<br>de toiture</b>"
        },
        {
          value: 4,
          imgPath: "images/house/building/maison-4_pan.svg",
          text: "<b>4 pans<br>de toiture</b>"
        }
      ],
    }
  },
  computed: {
    ...mapGetters({
      buildingPanel: "getBuildingPanel"
    })
  }
}
</script>

<style scoped>

</style>