<template>
  <v-form
      :ref="formRefName"
      v-model="valid"
      lazy-validation
  >
    <radio-col-block
        title="Je sélectionne l’inclinaison de ma toiture"
        :radio="radio"
        :value="buildingTilt"
        @input="updateData({buildingTilt: $event})"
        @click="validateFormAndRedirect('Cover')"
    />
  </v-form>
</template>

<script>
import RadioColBlock from "@/views/partial/_radioColBlock";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";

export default {
  name: "tilt",
  mixins: [validationMixin],
  components: {
    RadioColBlock
  },
  data() {
    return {
      radio: [
        {
          value: 0,
          imgPath: "images/house/tilt/maison_toit-plat.svg",
          text: "<b>Plat</b><br>0°"
        },
        {
          value: 10,
          imgPath: "images/house/tilt/maison_toit-mediterraneen.svg",
          text: "<b>Méditerranéen</b><br>10°"
        },
        {
          value: 30,
          imgPath: "images/house/tilt/maison_toit-classique.svg",
          text: "<b>Classique</b><br>30°/ 35°"
        },
        {
          value: 40,
          imgPath: "images/house/tilt/maison_toit-alsacien-breton.svg",
          text: "<b>Aslacien<br>Breton</b><br>40° / 45°"
        }
      ],
    }
  },
  computed: {
    ...mapGetters({
      buildingTilt: "getBuildingTilt"
    })
  }
}
</script>

<style scoped>

</style>