<template>
  <div id="components">
    <h1>Principes graphique</h1>
    <br>

    <!--TEXT-->
    <div class="row">
      <div class="col-12">
        <h2>Textes</h2>
        <br>
        <h1>H1 - Titre simulateur</h1>
        <h2>H2 - Questions</h2>
        <h3>H3 - Titres</h3>
        <p>
          Paragraphes - Quelques minutes suffisent pour recevoir par e-mail une étude de la solution la plus adaptée à
          votre logement et votre consommation !
        </p>
      </div>
    </div>

    <!--BUTTONS-->
    <div class="row">
      <div class="col-12">
        <h2>Boutons</h2>
      </div>

      <div class="col-12">
        <h3>Classiques</h3>
      </div>

      <div class="col-12 col-sm-4 d-flex justify-space-between">

        <eg-btn
            text="btn"
        />

        <eg-btn
            text="btn"
            icon-class="icon-next"
        />

        <eg-btn
            text="btn"
            icon-class="icon-prev"
            icon-position="start"
        />

      </div>

      <div class="col-12">
        <h3>Outlined</h3>
      </div>

      <div class="col-12 col-sm-4 d-flex justify-space-between">
        <eg-btn
            text="btn"
            outlined
        />

        <eg-btn
            text="btn"
            outlined
            :outlined-color="$vuetify.theme.themes.light.grey.base"
            icon-class="icon-prev"
            icon-position="start"
        />

        <eg-btn
            outlined
            :outlined-color="$vuetify.theme.themes.light.grey.base"
            icon-class="icon-prev"
        />
      </div>

      <div class="col-12">
        <h3>Disabled</h3>
      </div>

      <div class="col-12 col-sm-3 d-flex justify-space-between">
        <eg-btn
            text="btn"
            icon-class="icon-next"
            disabled
        />

        <eg-btn
            text="btn"
            outlined
            :outlined-color="$vuetify.theme.themes.light.grey.base"
            icon-class="icon-next"
            disabled
        />

      </div>
    </div>

    <!--PROGRESS CIRCLES-->
    <div class="row mt-5">
      <div class="col-12">
        <h2>Cercles de progression</h2>
      </div>


      <div class="col">

        <eg-progress-circle
            :step="1"
            :value="20"
        />

        <eg-progress-circle
            :value="50"
            :step="2"
            classes="text--lighten-1"
        />

        <eg-progress-circle
            :value="70"
            :step="3"
            classes="text--lighten-2"
        />
      </div>
    </div>

    <!--RADIO BUTTONS-->
    <div class="row dense mt-5">

      <div class="col-12">
        <h2>Radio</h2>
        <h3>Colonnes avec images</h3>
      </div>

      <eg-radio-group
          :radio="radio"
          direction="column"
          element-class="col-6 col-sm-3 col-md-2"
      />

      <div class="col-12">
        <h3>Lignes sans images</h3>
      </div>

      <div class="col-12 col-lg-7 col-md-8 ma-auto">
        <eg-radio-group
            :radio="radioLine"
            direction="line"
        />
      </div>

    </div>

    <!--LINKS-->
    <div class="row">
      <div class="col-12">
        <h2>Liens</h2>
      </div>

      <ul>
        <li>
          <a
              href="https://www.google.fr"
              target="_blank"
          >
            Google
          </a>
        </li>
        <li>
          <a
              href="https://www.energy-go.fr"
              target="_blank"
          >
            EnergyGo
          </a>
        </li>
        <li>
          <a
              href="https://www.lien-test.fr"
              target="_blank"
          >
            Lien
          </a>
          <span>Lien ne peut pas changer de couleur une fois visité car l'url est inaccessible</span>
        </li>
        <li>
          <a
              href="https://www.instagram.com"
              target="_blank"
          >
            Instagram
          </a>
        </li>

        <li>
          <a
              href="https://www.jenesaispas.com"
              target="_blank"
          >
            Je ne sais pas
          </a>
        </li>
      </ul>
    </div>

    <!--INPUT-->
    <div class="row mt-10">
      <div class="col-12">
        <h2>Input</h2>
      </div>

      <div class="col-12 mb-5">
        <h3>Texte</h3>
      </div>

      <div class="col-12 col-sm-6">
        <eg-text-input/>

        <eg-text-input
            label="Label"
        />

        <eg-text-input
            label="Je renseigne l'adresse de mon projet"
            placeholder="ex. rue du chateau"
        />

        <eg-text-input
            label="Avec suffixe"
            suffix="m"
        />

      </div>

      <div class="col-12 mb-5">
        <h3>Select</h3>
      </div>

      <div class="col-12 col-sm-6">
        <eg-select-input
            :items="items"
        />

        <eg-select-input
            :items="items"
            label="Label"
        />

        <eg-select-input
            :items="items"
            label="Comment avez-vous connu EnergyGo ?"
            placeholder="Faites votre choix"
        />

      </div>

    </div>

  </div>

</template>

<script>
import EgBtn from "@/components/base/EgBtn"
import EgProgressCircle from "@/components/base/EgProgressCircle"
import EgRadioGroup from "@/components/base/EgRadioGroup";
import EgTextInput from "@/components/base/EgTextInput";
import EgSelectInput from "@/components/base/EgSelectInput";

export default {
  name: 'components',
  components: {
    EgBtn,
    EgProgressCircle,
    EgRadioGroup,
    EgTextInput,
    EgSelectInput
  },
  data() {
    return {
      radio: [
        {
          value: 0,
          imgPath: "images/house/height/maison_plein-pied.svg",
          text: "Maison de plein pied"
        },
        {
          value: 1,
          imgPath: "images/house/height/maison_1-etage.svg",
          text: "1 étage"
        },
        {
          value: 2,
          imgPath: "images/house/height/maison_2-etage.svg",
          text: "2 étage"
        },
        {
          value: 3,
          imgPath: "images/house/height/maison_3-etage.svg",
          text: "3 étage"
        }
      ],
      radioLine: [
        {
          value: 0,
          text: "<b>2.9 kWc</b> - 9 panneaux de 330Kwv"
        },
        {
          value: 10,
          text: "<b>5.94 kWc</b> - 18 panneaux de 330Kwv"
        },
        {
          value: 30,
          text: "<b>8.91 kWc</b> - 27 panneaux de 330Kwv"
        },
        {
          value: 40,
          text: "<b>Autre</b>. J'indique le nombre de panneaux :",
          component: {
            name: 'eg-text-input',
            params: {
              suffix: "x  330 = <b>3.30 kWc</b>",
              hideFieldDetails: true,
              reducedInputField: true
            }
          }
        }
      ],
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
    }
  }
}
</script>
