<template>
  <div class="eg-contact row align-center justify-center">

    <div class="col-12 col-md-8">
      <h1 class="mb-6">
        Recevoir mon <br v-if="$vuetify.breakpoint.smAndDown">étude solaire personnalisée
      </h1>

      <p>Les données récoltées seront utilisées uniquement par EnergyGo dans le cadre de votre étude énergétique.</p>

      <div class="mt-2 row col-12">
        <div class="col-12 col-md-6">
          <v-form
              :ref="formRefName"
              v-model="valid"
              lazy-validation
          >
            <eg-text-input
                label="Nom"
                :validation-rules="[rules.required]"
                :value="contact.lastName"
                @input="updateData({contact: {lastName: $event}})"
            />
            <eg-text-input
                label="Prénom"
                :validation-rules="[rules.required]"
                :value="contact.firstName"
                @input="updateData({contact: {firstName: $event}})"
            />
            <eg-text-input
                label="Adresse mail"
                :validation-rules="[rules.required, rules.email]"
                :value="contact.mail"
                @input="updateData({contact: {mail: $event}})"
            />
            <eg-text-input
                label="Téléphone"
                :validation-rules="[rules.required]"
                :value="contact.phone"
                type="number"
                @input="updateData({contact: {phone: $event}})"
            />
            <p class="eg-text-input-label">Je souhaite être rappelé.e de préférence</p>

            <div class="d-flex">
              <div class="col-5">
                <eg-select-input
                    :items="days"
                    placeholder="Le lundi"
                    :validation-rules="[rules.required]"
                    :value="contact.callback.day"
                    @input="updateData({contact: {callback: {day: $event}}})"
                />
              </div>

              <div class="col-7 pl-3">
                <eg-select-input
                    :items="hours"
                    placeholder="entre 8h et 9h"
                    :validation-rules="[rules.required]"
                    :value="contact.callback.hour"
                    @input="updateData({contact: {callback: {hour: $event}}})"
                />
              </div>
            </div>

            <eg-select-input
                :items="how"
                placeholder="Faites votre choix"
                label="Comment avez-vous connus EnergyGo"
                :validation-rules="[rules.required]"
                :value="contact.knew"
                @input="updateData({contact: {knew: $event}})"
            />
          </v-form>
        </div>
        <div
            v-if="$vuetify.breakpoint.mdAndUp"
            class="col-md-5 offset-md-1"
        >
          <img
              height="580"
              :src="require('@/assets/images/contact/personnage_contact.svg')"
              alt="Recevoir mon étude solaire personnalisé"
          />
        </div>
      </div>

      <div
          class="col-12
          d-md-flex
          justify-space-between align-center
          mb-11 mb-md-16 mt-5 mt-md-10"
      >
        <div>
          <eg-btn
              class="mb-9 mb-md-0"
              text="J'accède aux résultats"
              icon-class="icon-next"
              @click="validateFormAndRedirect('Final')"
          />
        </div>
        <div>
          <a
              target="_blank"
              href="https://www.energy-go.fr/politique-de-confidentialite/"
          >
            Notre politique de confidentialité
          </a>
        </div>

      </div>

    </div>

  </div>
</template>

<script>
import EgBtn from "@/components/base/EgBtn";
import EgTextInput from "@/components/base/EgTextInput";
import EgSelectInput from "@/components/base/EgSelectInput";
import validationMixin from "@/mixins/validationMixin";
import rulesMixin from "@/mixins/rulesMixin";
import {mapGetters} from "vuex";

export default {
  name: "home",
  mixins: [validationMixin, rulesMixin],
  components: {
    EgBtn,
    EgTextInput,
    EgSelectInput
  },
  data() {
    return {
      days: ["Le lundi", "Le mardi", "Le mercredi", "Le jeudi", "Le vendredi"],
      hours: [
        "entre 8h et 9h", "entre 9h et 10h", "entre 10h et 11h", "entre 11h et 12h", "entre 13h et 14h",
        "entre 14h et 15h"
      ],
      how: [
        "Par un ami",
        "Via les réseaux sociaux",
        "..."
      ]
    }
  },
  computed: {
    ...mapGetters({
      contact: "getContact"
    })
  }
}
</script>

<style lang="scss" scoped>
@media #{map-get($display-breakpoints, 'md-and-up')} {
  .eg-contact {
    margin-top: 57px;
  }
}

</style>