<template>
  <div class="eg-final row">
    <div
        class="d-flex col-12 col-md-11 offset-md-1"
    >
      <div class="col-12 col-md-6">

        <img
            :width="$vuetify.breakpoint.mdAndUp ? 280 : null"
            class="mt-10 mb-11 mb-md-16"
            :src="require('@/assets/images/logo-EnergyGo.svg')"
            alt="Logo EnergyGo"
        />

        <h1 class="mb-12">Merci ! <br>Votre étude personnalisée est <br
            v-if="$vuetify.breakpoint.smAndDown">en route vers votre boîte mail.</h1>

        <img
            v-if="$vuetify.breakpoint.smAndDown"
            class="mb-9"
            :src="require('@/assets/images/final/lettre_energy-go.svg')"
            alt="Votre étude personnalisée est en route vers votre boite mail."
        >

        <p class="mb-0">Une question ? Un conseil ?</p>

        <p>N’hésitez pas à contacter nos experts solaires</p>

        <div class="d-flex justify-center justify-md-start">
          <eg-phone-call-btn class="mr-4"/>
          <eg-callback-btn/>
        </div>
        <p class="text-12-px mt-3">Du lundi au vendredi de 9h à 19h - Prix d’un appel local</p>

        <eg-btn
            class="mb-16 mt-4 mt-md-13"
            text="Faire une nouvelle étude"
            icon-class="icon-next"
            outlined
            :outlined-color="$vuetify.theme.themes.light.grey.base"
            @click="next('Home')"
        />
      </div>

      <div
          v-if="$vuetify.breakpoint.mdAndUp"
          class="col-md-6 align-center d-flex"
      >
        <img
            width="500"
            :src="require('@/assets/images/final/lettre_energy-go.svg')"
            alt="Votre étude personnalisée est en route vers votre boite mail."
        >
      </div>
    </div>
  </div>
</template>

<script>
import EgBtn from "@/components/base/EgBtn";
import EgCallbackBtn from "@/components/special/EgCallBackBtn";
import EgPhoneCallBtn from "@/components/special/EgPhoneCallBtn";

export default {
  name: "home",
  components: {
    EgBtn,
    EgCallbackBtn,
    EgPhoneCallBtn
  }
}
</script>

<style lang="scss" scoped>

</style>