<template>
  <div class="eg-home row">
    <div
        class="col-12 col-md-6 col-lg-5 offset-md-1"
    >
      <img
          class="eg-logo"
          src="@/assets/images/logo-EnergyGo.svg"
          alt="logo EnergyGo"
      />
      <div class="eg-home__title">
        <h1 class="d-none d-md-block" v-html="'Réalisez des économies avec&nbsp;votre projet solaire'"/>
        <h1 class="d-md-none" v-html="'Réalisez des économies avec votre projet solaire'"/>
      </div>

      <div
          class="d-flex d-md-none
            col-12
            justify-center
            mt-9 mb-6"
      >
        <img
            src="@/assets/images/home/home-presentation-look-right.svg"
            alt="Réalisez des économies avec votre projet solaire"
        />
      </div>

      <p class="d-none d-md-block mt-5 mb-8">
        Quelques minutes suffisent pour recevoir par e-mail une étude de la solution la plus adaptée à votre logement
        et votre consommation !
      </p>

      <h3 class="d-md-none text-center mb-2">Propriétaire d’une maison individuelle ?</h3>
      <h3 class="d-none d-md-block mb-2">Vous êtes propriétaire d’une maison individuelle ?</h3>

      <div class="row no-gutters">
        <div class="col-12 d-flex justify-center justify-md-start">
          <eg-btn
              text="Simulez votre installation solaire"
              icon-class="icon-next"
              @click="next('Production')"
          />
        </div>
      </div>

      <p class="mt-5 mb-6 d-md-none">
        Quelques minutes suffisent pour recevoir par e-mail une étude de la solution la plus adaptée à votre logement
        et votre consommation !
      </p>

    </div>

    <div class="d-none d-md-block col-md-5 offset-lg-1 eg-col-padding-y">
        <img
            src="@/assets/images/home/home-presentation-look-left.svg"
            alt="Réalisez des économies avec votre projet solaire"
        />
    </div>

  </div>
</template>

<script>
import EgBtn from "@/components/base/EgBtn";

export default {
  name: "home",
  components: {
    EgBtn
  }
}
</script>

<style lang="scss" scoped>
.eg-home {
  padding-top: 60px;

  .eg-home__title {
    line-height: 26px;
    margin-top: 40px;
    color: var(--v-primary-base);
  }

}

@media #{map-get($display-breakpoints, 'sm-and-up')} {
  .eg-home {
    padding-top: 80px;

    .eg-home__title {
      margin-top: 70px;
    }
  }

  .eg-logo {
    width: 280px;
  }
}
</style>