<template>
  <div class="row align-center justify-center">
    <div class="col-12 col-md-7 col-lg-8 offset-md-2 offset-lg-1 pr-md-5">
      <h1
          v-if="$vuetify.breakpoint.mdAndUp"
          class="mb-md-2"
          v-html="h1"
      />

      <h2
          class="mb-6"
          v-else
          v-html="h1"
      />

      <h3 class="mb-md-4">
        {{ h3 }}
      </h3>

      <div
          class="d-flex d-md-none
          justify-center mt-5 mb-6"
      >
        <img
            height="250"
            :src="require('@/assets/images/project/electricien-gauche.svg')"
            alt="Conseillé EnergyGo"
        >
      </div>

      <p class="mb-8">
        {{ p1 }}
      </p>

      <p class="mb-10">
        {{ p2 }}
      </p>

      <div class="pt-md-7 mb-10 mb-md-0">
        <slot></slot>
        <eg-btn
            text="On vous rappelle"
            outlined
        />
      </div>

    </div>
    <div class="col-md-3 col-lg-2 d-none d-md-block">
      <img
          :src="require('@/assets/images/project/electricien-gauche.svg')"
          alt="Conseillé Ernergy go"
      >
    </div>
  </div>

</template>

<script>
import EgBtn from "@/components/base/EgBtn";

export default {
  name: "hint-block",
  components: {
    EgBtn
  },
  props: {
    h1: {
      type: String,
      required: true
    },
    h3: {
      type: String,
      required: true
    },
    p1: {
      type: String,
      required: true
    },
    p2: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>