<template>
  <div class="row align-center justify-center">
    <div class="col-12 col-md-8 col-lg-7">
      <h2 class="mb-2">{{ title }}</h2>

      <eg-radio-group
          class="eg-row"
          :radio="radio"
          direction="column"
          :element-class="colClasses"
          :radio-group-value="value"
          :radio-img-class="radioImgClass"
          @input="$emit('input', $event)"
      />

      <eg-btn
          class="mb-6"
          text="Je continue"
          icon-class="icon-next"
          @click="$emit('click')"
      />

    </div>
  </div>

</template>

<script>
import EgRadioGroup from "@/components/base/EgRadioGroup";
import EgBtn from "@/components/base/EgBtn";

export default {
  name: "radio-col-block",
  components: {
    EgRadioGroup,
    EgBtn
  },
  props: {
    value: null,
    radio: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    radioImgClass: {
      type: String,
      default: null
    },
  },
  computed: {
    colClasses() {
      return {
        'col-6': true,
        'col-sm-3': true,
        'col-md-3': this.radio.length >= 3,
        'col-md-5': this.radio.length < 3,
        'eg-col-padding': true
      }
    }
  }
}

</script>

<style scoped>

</style>