<template>
  <div class="row align-center justify-center">
    <div class="col-12 col-md-8">
      <h2 class="mb-5">{{ title }}</h2>

      <eg-radio-group
          :radio="radio"
          direction="line"
          :radio-group-value="value"
          @input="$emit('input', $event)"
      />

      <eg-btn
          class="mb-6"
          text="Je continue"
          icon-class="icon-next"
          @click="$emit('click')"
      />
    </div>
  </div>
</template>

<script>
import EgRadioGroup from "@/components/base/EgRadioGroup";
import EgBtn from "@/components/base/EgBtn";

export default {
  name: "radio-col-block",
  components: {
    EgRadioGroup,
    EgBtn
  },
  props: {
    value: null,
    radio: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  }
}

</script>

<style scoped>

</style>