<template>
  <p
      class="eg-text-input-label"
  >
    {{ label }}
  </p>
</template>

<script>
export default {
  name: "eg-input-label",
  props: {
    label: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
.eg-text-input-label {
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: unset;
}
</style>