<template>
  <v-progress-circular
      :class="'eg-progress-circle ' + classes + (value === 100 ? ' eg-progress__full' : '')"
      :rotate="-90"
      :size="36"
      :width="8"
      :value="value"
      :color="value > 0 ? color : $vuetify.theme.themes.light.background"
  >
    <span v-if="value > 0">{{ step }}</span>
  </v-progress-circular>
</template>

<script>
export default {
  name: "eg-progress-circle",
  props: {
    value: {
      type: Number,
      default: 0
    },
    color: {
      type: String,
      default: "logo"
    },
    // the displayed step in center of progress
    step: {
      type: Number,
      required: true
    },
    // can be used to add text color variants
    classes: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.eg-progress-circle {
  .v-progress-circular__info {
    font-size: 14px;
  }

  &:not(.eg-progress__full) {
    .v-progress-circular__overlay {
      stroke: white;
    }
  }

  .v-progress-circular__overlay {
    stroke-width: 6
  }
}

</style>