<template>
  <v-radio-group
      class="eg-radio-group"
      :value="radioGroupValue"
      :column="direction === 'line'"
      :rules="[rules.required]"
  >
      <eg-radio
          v-for="(input, key) in radio"
          :key="key"
          :img-path="input.imgPath"
          :value="input.value"
          :text="input.text"
          :direction="direction"
          :is-active="radioGroupValue === input.value"
          :element-class="elementClass"
          :component-name="input.component ? input.component.name : null"
          :component-params="input.component ? input.component.params : null"
          :img-class="radioImgClass"
          @input="$emit('input', $event)"
      />

  </v-radio-group>
</template>

<script>
import EgRadio from "@/components/base/EgRadio"
import rulesMixin from "@/mixins/rulesMixin";

export default {
  name: "eg-radio-group",
  mixins: [rulesMixin],
  components: {
    EgRadio
  },
  props: {
    radioGroupValue: null,
    radio: {
      type: Array,
      default: () => []
    },
    // Direction of radio, column or line
    direction: {
      type: String,
      default: "column"
    },
    // Class to pass to EgRadio
    elementClass: [String, Object],
    radioImgClass: {
      type: String,
      default: null
    },
  },
  computed: {
  },
  data() {
    return {
    }
  }
}
</script>

<style lang="scss">
.eg-radio-group {
  &.v-input--radio-group {
    .v-input--radio-group__input {
      flex-wrap: wrap;
    }
  }

  &.v-input--selection-controls{
    margin-top: unset !important;
  }
}
</style>