<template>
  <div :class="elementClass">
    <div
        :class="radioClasses"
        @click="$emit('input', value)"
    >

      <img
          v-if="imgPath"
          :class="'mb-2 ' + imgClass"
          :src="require('@/assets/' + imgPath)"
          alt=""
      >

      <v-radio
          :class="direction === 'column' ? 'justify-center' : 'mr-5 mb-0'"
          :value="value"
          @input="$emit('input', $event.target.value)"
      />

      <div
          v-html="text"
          :class="direction === 'column' ? 'text-center' : 'text-left'"
      />

      <component
          v-if="componentName"
          class="ml-4"
          :is="componentName"
          v-bind="componentParams"
          @input="$emit('input', $event)"
      />

    </div>
  </div>

</template>

<script>
import EgTextInput from "@/components/base/EgTextInput";

export default {
  name: "eg-radio",
  components: {
    // eslint-disable-next-line vue/no-unused-components
    EgTextInput
  },
  props: {
    value: null,
    imgPath: {
      type: String,
      default: null
    },
    imgClass: {
      type: String,
      default: null
    },
    // Direction of radio, column or line
    direction: {
      type: String,
      default: "column"
    },
    text: {
      type: String,
      default: ""
    },
    isActive: {
      type: Boolean,
      default: false
    },
    elementClass: {
      type: [String, Object],
      default: 'col-12'
    },
    // Used to display a component (eg. input) at the end of radio
    componentName: {
      type: String
    },
    componentParams: {
      type: Object
    }
  },
  computed: {
    radioClasses () {
      return {
        'align-center': true,
        'eg-col-padding-y': true,
        'eg-radio': true,
        'eg-radio-active': this.isActive,
        'flex-column' : this.direction === 'column',
        'flex-row mb-2': this.direction === 'line',
        'pa-5': !this.componentName && this.direction === 'line',
        'py-10-px px-5': this.componentName && this.direction === 'line'
      }
    }
  },
  data() {
    return {
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
.eg-radio {
  display: flex;
  border: 2px solid var(--v-grey-darken1);
  border-radius: 20px;
  padding: 13px;
  cursor: pointer;
  height: 100%;

  &:not(.flex-row) {
    min-height: 235px;
  }

  .v-input--selection-controls__input{
    margin: unset !important;
  }

  &:hover {
    box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.4));
  }

  .v-radio {
    padding-bottom: 5px;
  }
}

.eg-radio-active {
  border-color: var(--v-logo-base);
  box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.4))
}

@media #{map-get($display-breakpoints, 'xs-only')} {
  .eg-radio {
    padding: 23px;
  }
}


</style>