<template>
  <div class="eg-input eg-select-input">
    <eg-input-label
        v-if="label"
        :label="label"
    />

    <v-select
        ref="select"
        color="primary"
        dense
        outlined
        :height="44"
        :items="items"
        :value="value"
        :placeholder="placeholder"
        :rules="validationRules"
        @input="$emit('input', $event)"
    />

  </div>
</template>

<script>
import EgInputLabel from "@/components/base/EgInputLabel";

export default {
  name: "eg-select-input",
  components: {
    EgInputLabel
  },
  props: {
    value: null,
    label: {
      type: String
    },
    placeholder: {
      type: String
    },
    items: {
      type: Array
    },
    validationRules: {
      type: Array
    }
  },
  computed: {},
  methods: {
    changeDropdownIcon() {
      let inputIconElement = this.$refs.select.$children[0].$el;
      let newIcon = document.createElement('div');
      newIcon.classList.add('eg-select-icon', 'v-icon');
      inputIconElement.replaceWith(newIcon);
    }
  },
  mounted() {
    this.changeDropdownIcon();
  }
}
</script>

<style lang="scss">
.eg-select-input {

  .eg-select-icon {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--v-primary-base);
    border-right: 2px solid var(--v-primary-base);
    color: var(--v-primary-base);
    transform: rotate(45deg);
  }

  .v-text-field, .v-text-field--solo {
    border-radius: 5px;


    .v-input__slot {
      padding-left: 15px !important;
    }

    input::placeholder {
      color: $black;
    }
  }

  .eg-text-input-suffix {
    padding: 9px 15px;
    border: 1px solid var(--v-grey-darken1);
    border-left: none;
    border-radius: 0 5px 5px 0;
    background: var(--v-grey-lighten1);

    p {
      margin-bottom: unset;
      line-height: 22px; // half the base height of input
    }
  }

  .v-text-field--is-focused {
    fieldset {
      border-color: var(--v-primary-base);
    }
  }
}
</style>
