<template>
  <div class="eg-input eg-text-input">

    <eg-input-label
        v-if="label"
        :label="label"
    />

    <div class="d-flex">
      <v-text-field
          outlined
          dense
          :class="inputClasses"
          :height="height"
          :placeholder="placeholder"
          :value="value"
          :rules="validationRules"
          :type="type"
          @change="$emit('input', $event)"
      />
      <!--@todo problème avec la height du suffixe si text trop long-->
      <div
          v-if="suffix"
          ref="suffix"
          class="eg-text-input-suffix"
          :style="{'height': height + 'px'}"
      >
        <p v-html="suffix"/>
      </div>
    </div>

  </div>

</template>

<script>
import EgInputLabel from "@/components/base/EgInputLabel";

export default {
  name: "eg-text-input",
  components: {
    EgInputLabel
  },
  props: {
    value: null,
    label: {
      type: String
    },
    placeholder: {
      type: String
    },
    suffix: {
      type: String
    },
    hideFieldDetails: {
      type: Boolean,
      default: false
    },
    reducedInputField: {
      type: Boolean,
      default: false
    },
    big: {
      type: Boolean,
      default: false
    },
    validationRules: {
      type: Array
    },
    type: {
      type: String
    },
  },
  computed: {
    inputClasses() {
      return {
        'eg-text-input--has-suffix': this.suffix,
        'eg-text-input--hide-details': this.hideFieldDetails,
        'eg-text-input--reduced': this.reducedInputField
      }
    },
    height() {
      return this.big ? 55 : 44
    }
  },
  // methods: {
  //   onElementResize(el) {
  //     console.log(el.offsetHeight)
  //   }
  // },
  // mounted() {
  //   window.setTimeout(() => {
  //     let suffixElement = this.$refs.suffix;
  //     if (suffixElement) {
  //       console.log(suffixElement.offsetHeight)
  //       this.height = suffixElement.offsetHeight;
  //     }
  //   }, 100);
  // }
}
</script>

<style lang="scss">
.eg-text-input {

  .v-text-field, .v-text-field--solo {

    &.eg-text-input--has-suffix {
      border-radius: 5px 0 0 5px;
    }

    border-radius: 5px;

    &.eg-text-input--hide-details {
      .v-input__control {
        .v-text-field__details {
          display: none;
        }

        .v-input__slot {
          margin: unset;
        }
      }
    }

    &.eg-text-input--reduced {
      .v-input__control {
        .v-input__slot {
          width: 50px;
        }
      }
    }

    .v-input__control {
      .v-input__slot {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .eg-text-input-suffix {
    padding: 9px 15px;
    border: 1px solid var(--v-grey-darken1);
    border-left: none;
    border-radius: 0 5px 5px 0;
    background: var(--v-grey-lighten1);

    p {
      margin-bottom: unset;
      line-height: 22px; // half the base height of input
    }
  }
}
</style>
