<template>
  <div class="eg-stepper d-flex align-center">
    <span class="mr-5 d-none d-md-block">{{stepName}}</span>

    <eg-progress-circle
        class="mr-2"
        :step="1"
        :value="getStepValue(1)"
    />
    <eg-progress-circle
        class="mr-2"
        :step="2"
        classes="text--lighten-1"
        :value="getStepValue(2)"
    />
    <eg-progress-circle
        :step="3"
        classes="text--lighten-2"
        :value="getStepValue(3)"
    />

  </div>
</template>

<script>
import EgProgressCircle from "@/components/base/EgProgressCircle"

export default {
  name: "eg-stepper",
  components: {
    EgProgressCircle
  },
  props: {
    stepName: {
      type: String,
      required: true
    },
    stepValue: {
      type: Number,
      required: true
    },
    step: {
      type: Number,
      required: true
    }
  },
  methods: {
    getStepValue(step) {
      if (this.step < step) {
        return 0;
      } else if (this.step > step) {
        return 100;
      } else {
        return this.stepValue
      }
    }
  }
}
</script>

<style lang="scss">

</style>