<template>
  <div class="eg-panel mt-lg-10 row">

    <!--VERSION MOBILE-->
    <div
        v-if="$vuetify.breakpoint.smAndDown"
        class="col-12"
    >

      <h2 class="pl-5 mb-4">{{ title }}</h2>

      <div
          v-if="tab !== null"
          class="eg-background-color-border"
      >
        <v-tabs
            v-model="tab"
            background-color="transparent"
            color="primary"
            :active-class="tab !== null ? 'eg-tab-active' : ''"
            grow
        >
          <v-tab
              v-for="(item, key) in items"
              :key="key"
              :class="{'eg-panel__passed': (key < tab && tab !== null)}"
              disabled
          >
            <span>{{ item }}</span>

          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item
              v-for="item in items"
              :key="item"
          >
            <img :src="require('@/assets/images/address/panel/faitage.jpg')" alt="Le faîtage">

            <div class="col-12 eg-tab-item px-5 pt-5">
              <p>Je déplace les 4 croix blanches sur le plan en évitant les zones d’ombres.</p>

              <div class="d-flex">
                <eg-text-input
                    class="col-4 mr-5"
                    label="Longueur"
                    suffix="m"
                />

                <eg-text-input
                    class="col-4"
                    label="Largeur"
                    suffix="m"
                />
              </div>
            </div>

          </v-tab-item>
        </v-tabs-items>

        <div class="px-5">
          <div class="mb-7">
            <a class="text-decoration-none" @click="tab = 0">Réinitialiser le plan</a>
          </div>

          <div class="row justify-space-between align-center">
            <eg-btn
                text="Je continue"
                icon-class="icon-next"
                :disable-click-state="true"
                @click="nextTab"
            />
            <a @click="resetTab">Aide</a>
          </div>
        </div>

      </div>

      <!--ASTUCE-->
      <div v-else class="d-flex align-center">

        <div class="col-12">

          <img :src="require('@/assets/images/address/panel/faitage.jpg')" alt="Le faîtage">

          <div class="pa-5">
            <p>
              Lorsque vous placerez vos mesures sur le plan satellite, le trait rouge devra correspondre
              au point le plus haut de votre toiture appelé le faîtage.
            </p>

            <eg-btn
                text="J'ai compris"
                icon-class="icon-next"
                @click="tab = 0"
            />
          </div>

        </div>
      </div>

    </div>

    <!--VERSION TABLET & DESKTOP-->
    <div v-else class="row eg-background-color-border">

      <div class="col-12 col-md-8 col-lg-9">
        <img class="mb-n3" :src="require('@/assets/images/address/panel/faitage.jpg')" alt="Le faîtage">
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <v-tabs
            v-model="tab"
            background-color="transparent"
            color="primary"
            active-class="eg-tab-active"
            grow
        >
          <v-tab
              v-for="(item, key) in items"
              :key="key"
              :class="{'eg-panel__passed': key < tab}"
              disabled
          >
            <span>{{ item }}</span>

          </v-tab>
        </v-tabs>

        <!--CHOIX DES PANS-->
        <div
            v-if="tab !== null"
            class="px-10 col-12"
        >

          <v-tabs-items v-model="tab">
            <v-tab-item
                v-for="item in items"
                :key="item"
            >

              <div class="eg-tab-item">

                <h2>{{ title }}</h2>

                <p>Je déplace les 4 croix blanches sur le plan en évitant les zones d’ombres.</p>

                <div class="d-flex mt-15">
                  <eg-text-input
                      class="col-5 mr-5"
                      label="Longueur"
                      suffix="m"
                  />

                  <eg-text-input
                      class="col-5"
                      label="Largeur"
                      suffix="m"
                  />
                </div>
              </div>

            </v-tab-item>
          </v-tabs-items>

          <div>
            <div class="mb-15">
              <a class="text-decoration-none" @click="tab = 0">Réinitialiser le plan</a>
            </div>

            <div class="row justify-space-between align-center">
              <eg-btn
                  text="Je continue"
                  icon-class="icon-next"
                  :disable-click-state="true"
                  @click="nextTab"
              />
              <a @click="resetTab">Aide</a>
            </div>
          </div>


        </div>

        <!--ASTUCE-->
        <div v-else class="d-flex align-center eg-panel__tips">

          <div class="col-12 px-10">
            <h2>{{ title }}</h2>

            <p>
              Lorsque vous placerez vos mesures sur le plan satellite, le trait rouge devra correspondre
              au point le plus haut de votre toiture appelé le faîtage.
            </p>

            <eg-btn
                text="J'ai compris"
                icon-class="icon-next"
                @click="tab = 0"
            />
          </div>

        </div>
      </div>
    </div>

  </div>

</template>

<script>
import EgTextInput from "@/components/base/EgTextInput";
import EgBtn from "@/components/base/EgBtn";

export default {
  name: "panel",
  components: {
    EgTextInput,
    EgBtn
  },
  data() {
    return {
      tab: null,
      items: [
        'Pan 1', 'Pan 2', 'Pan 3', 'Pan 4',
      ]
    }
  },
  methods: {
    nextTab() {
      if (this.tab < this.items.length - 1) {
        this.tab++
      } else if (this.tab === this.items.length - 1) {
        this.next('Contact')
      }
    },
    resetTab() {
      this.tab = null
      document.querySelector('.eg-tab-active').classList.remove('eg-tab-active')
    }
  },
  computed: {
    title() {
      if (this.tab === null) {
        return "Astuce";
      } else {
        return "Je sélectionne le Pan " + (this.tab + 1)
      }
    }
  }
}
</script>

<style lang="scss">
.eg-panel {

  .eg-background-color-border {
    border-top: 1px solid var(--v-background-base);

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      border-top: 5px solid var(--v-background-base);
    }
  }

  .v-tabs {
    .v-tabs-slider-wrapper {
      height: 5px !important;
    }

    width: 100%;
  }

  .v-tabs-items {
    @media #{map-get($display-breakpoints, 'md-and-up')} {
      .eg-tab-item {
        padding-top: 75px;
      }
    }
  }

  img {
    width: 100%;
  }

  .v-tab {
    background: var(--v-background-base);
    font-family: "Baloo Tamma 2", serif;
    font-size: 18px;
    line-height: 31px;
    font-weight: bold;
    text-transform: capitalize;
    min-width: unset;
    padding: unset;

    &.eg-tab-active {
      background: white;
      color: var(--v-primary--base) !important;
    }

    &.v-tab--disabled {
      opacity: unset;

      &:not(.eg-panel__passed):not(.eg-tab-active) {
        span {
          opacity: 0.5;
        }
      }
    }

    &.eg-panel__passed {
      background: white;
    }
  }

  .eg-panel__tips {
    padding-top: 75px;
  }
}
</style>