<template>
  <div class="row align-center justify-center">
    <div class="col-12 col-md-8 col-lg-7">

      <h2 class="mb-3">Je renseigne l'adresse de mon projet</h2>
      <v-form
          :ref="formRefName"
          v-model="valid"
          lazy-validation
      >
        <eg-text-input
            placeholder="ex. 23 Rue du Château 32012 Ansan"
            big
            :value="address"
            :validation-rules="[rules.required]"
            @input="updateData({address: $event})"
        />

        <eg-btn
            text="Je continue"
            icon-class="icon-next"
            @click="validateFormAndRedirect('Panel')"
        />
      </v-form>

      <!--hack to prevent background to cover input on mobile landscape-->
      <div
          class="d-sm-block d-md-none eg-empty"
      />

      <div class="eg-street__background">
        <img :src="require('@/assets/images/address/street/street-background.svg')" alt="">
      </div>

    </div>
  </div>
</template>

<script>
import EgTextInput from "@/components/base/EgTextInput";
import EgBtn from "@/components/base/EgBtn";
import {mapGetters} from "vuex";
import validationMixin from "@/mixins/validationMixin";
import rulesMixin from "@/mixins/rulesMixin";

export default {
  name: "street",
  mixins: [validationMixin, rulesMixin],
  components: {
    EgTextInput,
    EgBtn
  },
  computed: {
    ...mapGetters({
      address: "getAddress"
    })
  }
}
</script>

<style scoped lang="scss">

.eg-empty {
  height: 120px;
}

@media #{map-get($display-breakpoints, 'xs-only')} {
  .eg-empty {
    height: 50px;
  }
}

.eg-street__background {
  transform: translateZ(0); // prevent black line on top of container under odd pixels
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;

  img {
    object-fit: cover;
    width: 100%;
  }
}

</style>