<template>
  <div class="row">
    <eg-btn
        text="On vous rappelle"
        @click="dialog = true"
    />
    <v-dialog
        v-model="dialog"
        max-width="500px"
    >
      <v-card>

        <v-card-title class="headline">
          On vous rappelle
        </v-card-title>

        <v-form
            :ref="formRefName"
            v-model="valid"
            lazy-validation
        >

          <v-card-text>
            <eg-text-input
                label="Numéro de téléphone"
                placeholder="Renseignez votre numéro de téléphone"
                v-model="phoneNumber"
                :validation-rules="[rules.required]"
            />
          </v-card-text>

        </v-form>

        <v-card-actions>
          <v-spacer/>

          <eg-btn
              text="valider"
              @click="validateFormAndCallApi('On vous rappelle', phoneNumber)"
          />
        </v-card-actions>
      </v-card>

    </v-dialog>
  </div>

</template>

<script>
import EgBtn from "@/components/base/EgBtn";
import EgTextInput from "@/components/base/EgTextInput";
import validationMixin from "@/mixins/validationMixin";
import rulesMixin from "@/mixins/rulesMixin";

export default {
  name: "eg-callback-btn",
  mixins: [validationMixin, rulesMixin],
  components: {
    EgBtn,
    EgTextInput
  },
  data() {
    return {
      dialog: false,
      phoneNumber: null
    }
  }
}
</script>

<style scoped>

</style>