<template>
  <div class="">
    <eg-btn
        text="04 87 91 56 00"
        outlined
        @click="phoneCall"
    />
  </div>
</template>

<script>
import EgBtn from "@/components/base/EgBtn";

export default {
  name: "eg-phone-call-btn",
  components: {
    EgBtn
  },
  data() {
    return {
    }
  },
  methods: {
    phoneCall() {
      window.open('tel:+33487915600')
    }
  }
}
</script>

<style scoped>

</style>