<template>
  <v-app>
    <eg-header
        v-if="displayHeader && !isLastPage"
    />
    <v-main>
      <v-container
          :class="{'mb-6': true, 'mb-md-0': true, 'eg-container__full-width': fullWidthContainer}"
          fill-height
      >
        <router-view/>
      </v-container>
    </v-main>
    <eg-footer
        :is-first-page="!displayHeader"
        :is-last-page="isLastPage"
    />
  </v-app>
</template>

<script>
import EgFooter from "@/components/layout/EgFooter";
import EgHeader from "@/components/layout/EgHeader";

export default {
  components: {
    EgHeader,
    EgFooter
  },
  computed: {
    displayHeader() {
      return this.$route.name !== 'Home'
    },
    isLastPage() {
      return this.$route.name === 'Final'
    },
    fullWidthContainer() {
      return this.$route.name === 'Panel'
    }
  }
}
</script>
<style lang="scss">
</style>
